= link_to 'Back', :back
= simple_form_for(@repository, defaults: { wrapper_html: {class: 'form-group'}, input_html: { class: 'form-control' }}) do |f|
  = f.input :name, label: "Repository location"
  = f.submit class: "btn btn-default"