= link_to "repositories", repositories_path
%p= @repository.name
%hr/
%h2 Classes
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.col-md-1 Score
      %th Class
  %tbody
    - @repository.class_details.each do |class_detail|
      %tr
        %td= format class_detail.score
        %td= link_to class_detail.class_name, class_detail